body { background-image: url(https://img.freepik.com/vector-gratis/pack-empanada_23-2148566959.jpg?w=2000);text-align: center;}
h1 {text-align: left;;text-shadow: black 5px 5px 5px;text-decoration-line: underline;}
p {text-align: center;}
h2 {text-decoration: underline;color: red; text-align: center;}
img {height: 315px;text-align: center}
ul {font-style: italic;text-align: left;}
ol {font-style: italic;text-align: left;}
footer {background-color: brown;opacity: 70%;color: white}
.masrecetas {text-align: center;color: white;display: block;
    font-weight: 600;
    padding: 0.80em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: 17.2px;}}
.Extras {text-align: center;}
.Redes-sociales {text-align: right; width: 200px; display: flex; justify-content: space-around; position: fixed; top: 88%; right: 1%;}
.Whatsapp {width: 50px; height: 50px;}
.gmail {width: 50px; height: 50px;}
.menu {text-align: center;display: block;
    font-weight: 600;
    padding: 0.80em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: 17.2px;}
