body { background-image: url(https://img.freepik.com/vector-gratis/pack-empanada_23-2148566959.jpg?w=2000);}
h1 {text-align: center;text-shadow: black 5px 5px 5px;text-decoration-line: underline;}
p {text-align: center;color: red}
h2 {text-decoration: underline;color: red;}
img {height: 315px;}
ul {font-style: italic;}
ol {font-style: italic;}
